DATABASE_URL=""
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=""BETTER_AUTH_URL=http://localhost:3000GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
UPLOADTHING_TOKEN=""
GEMINI_API_KEY=""
NEXT_PUBLIC_URL=""
RESEND_API_KEY=""
EMAIL_SENDER_NAME="Meetassist"
EMAIL_SENDER_ADDRESS="Your domain"

EMAIL_SENDER_ADDRESS="@yourdomain.com"
NYLAS_API_URI=""
NYLAS_CLIENT_ID=""
NYLAS_WEBHOOK_SECRET=""

